:root {
  --color-naranja: #f77f00;
  --color-pina: #edc531;
  --color-manzana: #0e5b2a;
  --color-melocoton: #ffc168;
  --color-naranja: #f77f00;
}

/* linear gradient from tilte rgba(0,245,150,100% --- 0,217,245,100%) 
* color hover for nav #F5DE0B */
